mixin blog(title)
  -
    const blogData = [
      {
        linkRu: '/ru/blog/korporativnyi-miessiendzhier-dlia-lokalnoi-sieti/',
        linkEn: '/en/blog/corporate-messenger-and-byod/',
        img: `${lang === "ru" ? '/img/pages/blog/blog-1-desktop' : '/img/pages/blog/blog-en-1-desktop'}`,
        text: t.blog.card_desc_1,
        dateDayRu: "02",
        dateMonRu: t.blog.oct,
        dateYearRu: "2019",
        dateDayEn: "30",
        dateMonEn: t.blog.apr,
        dateYearEn: "2019",
      },
      {
        linkRu: '/ru/blog/korporativnyi-miessiendzhier-vidy-vozmozhnosti-i-sfiery-primienieniia/',
        linkEn: '/en/blog/benefits-of-active-directory-compatible-corporate-messengers/',
        img: `${lang === "ru" ? '/img/pages/blog/blog-2-desktop' : '/img/pages/blog/blog-en-2-desktop'}`,
        text: t.blog.card_desc_2,
        dateDayRu: "02",
        dateMonRu: t.blog.oct,
        dateYearRu: "2019",
        dateDayEn: "30",
        dateMonEn: t.blog.apr,
        dateYearEn: "2019",
      },
      {
        linkRu: '/ru/blog/cifrovaya_gigiena/',
        linkEn: '/en/blog/explaining-the-main-hosting-models-on-premise-server-self-hosted-hosted-cloud/',
        img: `${lang === "ru" ? '/img/pages/blog/blog-3-desktop' : '/img/pages/blog/blog-en-3-desktop'}`,
        text: t.blog.card_desc_3,
        dateDayRu: "20",
        dateMonRu: t.blog.jul,
        dateYearRu: "2019",
        dateDayEn: "30",
        dateMonEn: t.blog.apr,
        dateYearEn: "2019",
      },
    ]
  .blog
    .blog__wrapper
      h2.blog__title=title
      ul.blog__list
        each post in blogData
          li.blog__item
            a(href=`${lang === "ru" ? post.linkRu : post.linkEn}`).blog__card
              .blog__img-box
                +picture(post.img, 'jpg', t.alt.blog_card, 380)
              .blog__text-box
                h3.blog__card-title=post.text
                p.blog__date
                  span=`${lang === "ru" ? post.dateDayRu : post.dateDayEn}`
                  | &nbsp;&nbsp;
                  span=`${lang === "ru" ? post.dateMonRu : post.dateMonEn}`
                  span
                    | , &nbsp;
                  span=`${lang === "ru" ? post.dateYearRu : post.dateYearEn}`

      a(class="link link--with-icon link--icon-accent" href=`${lang === "ru" ? "/ru/blog" : "/en/blog"}` )=t.button.view
        +svg('arrow-right', 16, 15)