mixin col(props)
  .col.is-visible(id=`${props.id}-col`)
    .card.card--download.wrap.wrap--dc
      h5.card__title=props.title
      if props.iconName
        .card__icon
          +svg(`icon-${props.iconName}`, '70','70')
      if props.qrName
        .card__qr
          +svg(`qr-${props.qrName}`, '150','150')
      if props.select
        select.card__select.select.select--dark(placeholder="скачать")
          option(selected disabled) Скачать
          each val, index in props.select
            option(name=index)=val
      if !props.isNoInstruction
        a.card__link(href=props.link) Инструкция по установке
      if props.isButton
        +button(
          'Открыть',
          {
            styleType: 'dark',
            type: 'submit',
            isLink: true,
            additionalClassName: 'card__button'
          }
        )

//- argTypes
  props: {
    title: string,
    iconName: string,
    qrName: string,
    select: array,
    imgWidth: number,
    isNoInstruction: boolean,
    isButton: boolean,
  }

mixin hero(props)
  div(id=`${props.id}-hero`)
    .hero__wrapper
      .hero__left
        h1.hero__title Скачать Dialog для&nbsp;
          span=props.title
        +button('Скачать', {
          styleType: 'dark',
          isLink: false,
          additionalClassName:
            'hero__button'
        })
        p.hero__text=props.text
        a.hero__link(href=props.link) Инструкция по установке

      .hero__right
        .hero__img
          +picture(
            `img/pages/download/hero-${props.id}-desktop`,
            'png',
            'Фото ноутбука и мобильного телефона',
            780
          )
            source(
              media="(min-width:769px)"
              srcset=
              `
                img/pages/download/hero-${props.id}-desktop@1x.webp 1x,
                img/pages/download/hero-${props.id}-desktop@2x.webp 2x
              `
            )

            source(
              media="(max-width:550px)"
              srcset=
              `
                img/pages/download/hero-${props.id}-mobile@1x.webp 1x,
                img/pages/download/hero-${props.id}-mobile@2x.webp 2x
              `
            )

//- argTypes
  props: {
    id: string,
    title: string,
    text: string,
    select: array,
    imgWidth: number,
    isNoInstruction: boolean,
    isButton: boolean,
  }
