mixin hero(props)
  div(id=`${props.id}-hero`)
    .hero__wrapper
      .hero__left
        h1.hero__title
          span Dialog !{t.download.for}&nbsp;
          span=props.title
        a.button.button--dark.hero__button(href=props.file)
          if props.icon
            +svg(`icon-${props.icon}`, 15, 15)
          span= props.buttonText

        p.hero__text=props.text
        //a.link.link--accent.hero__link(href=props.link)=t.download.instruction

      .hero__right
        .hero__img
          +picture(
            `/img/pages/download/hero-${props.id}`,
            'png',
            t.alt.pm,
            780
          )


//- argTypes
  props: {
    id: string,
    title: string,
    text: string,
    select: array,
    imgWidth: number,
    isNoInstruction: boolean,
    isButton: boolean,
  }


mixin col(props)
  .col.is-visible(id=`${props.id}-col`)
    .card.card--download.wrap.wrap--dc
      h5.card__title=props.title
      if props.iconName
        .card__icon.icon.icon--outline.icon--round
          +svg(`icon-${props.iconName}`, '70','70')
      if props.qrName
        .card__qr
          +svg(`qr-${props.qrName}`, '150','150')
      if props.select
        select(id=`choice-${props.id}`)
          option(selected disabled)=t.download.d
          each val, index in props.select
            option(name=index)=val
      if !props.isNoInstruction
        a.link.link--accent.card__link(href=props.link)=t.download.instruction
      if props.isButtonDownload
        +button(
          t.download.d,
          {
            styleType: 'dark',
            type: 'submit',
            isLink: true,
            href: props.link,
            additionalClassName: 'card__button'
          }
        )
      if props.isButtonOpen
        +button(
          t.button.open,
          {
            styleType: 'dark',
            type: 'submit',
            isLink: true,
            blank: true,
            href: 'https://ee.dlg.im',
            additionalClassName: 'card__button'
          }
        )

//- argTypes
  props: {
    title: string,
    iconName: string,
    qrName: string,
    select: array,
    imgWidth: number,
    isNoInstruction: boolean,
    isButton: boolean,
  }
