include ./button
include ../mixins/field-textarea

mixin form-career (idNumber, formId)
  .form.form--main.form--career.box.box--white
    .form__wrapper
      h2.form__title=t.form.career_title
      p.form__sub=t.form.career_subtitle
      .form__form
        form(action="#" method="POST" autocomplete="on" id!=formId)
          .form__input-text-wrap
            .form__form-field.form__form-field--text.form__form-field--m.form__form-field--1
              input(
                type="text"
                id=`name-${idNumber}`
                name="name"
                pattern="([A-Za-zА-ЯЁа-яё-]{2,}\\s?)+"
                placeholder=t.form.name
                title="Имя может состоять только из букв, пробелов и дефиса"
                required
              )
              label(for=`name-${idNumber}`)=t.form.name

            .form__form-field.form__form-field--text.form__form-field--m.form__form-field--3
              input(
                type="email"
                id=`email-${idNumber}`
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$"
                placeholder=t.form.email
                title="Email адрес должен быть типа: user@mail.com"
                required
              )

              label(for=`email-${idNumber}`)=t.form.email

            .form__form-field.form__form-field--text.form__form-field--s.form__form-field--2
              input(
                type="tel"
                id=`phone-${idNumber}`
                name="phone"
                placeholder=t.form.phone
                title="Номер телефона должен начинаться с символов +7 и содержать 11 цифр"
                pattern="7\\d{10}"
                data-mask="+{7}(000)000-00-00" required)
              label(for=`phone-${idNumber}`)=t.form.phone

            .form__form-field.form__form-field--text.form__form-field--s.form__form-field--4
              select(
                id=`city-${idNumber}`
                name="city-career"
                required
              )
                option(value="")=t.form.select_work
                option(value="Москва")=t.form.select_work_o_1
                option(value="Питер")=t.form.select_work_o_2
                option(value="Новосибирск")=t.form.select_work_o_3
              label(for=`city-${idNumber}`)=t.form.select_work

            .form__form-field--5.form__form-field--fw
              +field-textarea({
                name: 'message',
                label: t.form.about,
                isRequired: true
              })

          .form__checkbox-wrap
            .form__form-field--file
              .icon
                +svg('icon-upload', 40, 40)
              input.visually-hidden(
                type="file"
                id=`file-${idNumber}`
                name="uploaded"
                checked
                required
              )
              label(for=`file-${idNumber}`)=t.form.cv
            .form__form-field.form__form-field--checkbox
              input.visually-hidden(
                type="checkbox"
                id=`accept-${idNumber}`
                name="accepted"
                checked
                required
              )
              label(for=`accept-${idNumber}`)=t.form.agree

          +button(t.button.request, {styleType: 'accent', type: 'submit', additionalClassName: 'button--form'})