include ./button

mixin form-blog (idNumber,formId,type)
  .form.form--cta
    .form__wrapper
      form(
        autocomplete="on"
        id!=formId
        class="form__content"
        onsubmit=`event.preventDefault();emailSendBlog('${lang}','${type}');`
      )
        h3.form__title=t.cta.form_title
        .form__row
          .form__input-text-wrap
            .form__field.form__field--lilac
              input(
                type="email"
                id=`email-${idNumber}`
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$"
                placeholder=t.form.email
                title="Email адрес должен быть типа: user@mail.com"
                required
              )
              label(for=`email-${idNumber}`)=t.form.email
          .wrap.wrap--ac.wrap--message
            button(
              class="button--accent button button--form"
              type="submit"
            )
              span=t.button.subscribe
            img.submit__icon.submit__icon--light.submit__icon--absolute(src="/img/loader.gif")
            .submit__message.submit__message--absolute
              span=t.form.sent