include ./button

mixin form-offer (isModal, idNumber, formId)
  .form.form--main(class=(isModal ? 'form--modal' : null)).box.box--white
    .form__wrapper(class=(isModal ? 'form__wrapper--modal' : null))
      h2.form__title(class=(isModal ? 'form__title--modal' : null))=t.form.submit_title
      .form__form
        form(
          class="gform"
          method="POST"
          action=""
          autocomplete="on"
          id!=formId
          onsubmit="this.clear();this.alert"
        )
          input(
            type="text"
            id=`location`
            name="location"
            value='form sent from main page'
            hidden
          )
          input(
            type="text"
            id=`language`
            name="language"
            value=lang
            hidden
          )
          .form__input-text-wrap
            .form__form-field.form__form-field--text.form__form-field--m.form__form-field--1(class=(isModal ? 'form__form-field--modal' : null))
              input(
                type="text"
                id=`name-${idNumber}`
                name="name"
                pattern="([A-Za-zА-ЯЁа-яё-]{2,}\\s?)+"
                placeholder=t.form.name
                title="Имя может состоять только из букв, пробелов и дефиса"
              )
              label(for=`name-${idNumber}`)=t.form.name
            .form__form-field.form__form-field--text.form__form-field--m.form__form-field--3(class=(isModal ? 'form__form-field--modal' : null))
              input(
                type="email"
                id=`email-${idNumber}`
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$"
                placeholder=t.form.email
                title="Email адрес должен быть типа: user@mail.com"
              )
              label(for=`email-${idNumber}`)=t.form.email
            .form__form-field.form__form-field--text.form__form-field--s.form__form-field--2(class=(isModal ? 'form__form-field--modal' : null))
              input(
                type="tel"
                id=`phone-${idNumber}`
                name="phone"
                placeholder=t.form.phone
                title="Номер телефона должен начинаться с символов +7 и содержать 11 цифр"
                pattern="7\\d{10}"
                data-mask="+{7}(000)000-00-00"
              )
              label(for=`phone-${idNumber}`)=t.form.phone
            .form__form-field.form__form-field--text.form__form-field--s.form__form-field--4(class=(isModal ? 'form__form-field--modal' : null))
              input(
                type="text"
                id=`company-${idNumber}`
                name="company"
                placeholder=t.form.company
              )
              label(for=`company-${idNumber}`)=t.form.company
            .form__form-field.form__form-field--text.form__form-field--5(class=(isModal ? 'form__form-field--modal' : null))
              select(
                id=`quantity-${idNumber}`
                name="quantity-users"
              )
                option(value="1-100") 1-100
                option(value="101-500") 101-500
                option(value="501-1000") 501-1000
                option(value="1000+") 1000+
              label(for=`quantity-${idNumber}`)=t.form.users
          .form__checkbox-wrap
            .form__form-field.form__form-field--checkbox(class=(isModal ? 'form__form-field--modal' : null))
              input.visually-hidden(
                type="checkbox"
                id=`accept-${idNumber}`
                name="accepted"
                checked
              )
              label(for=`accept-${idNumber}`)=t.form.agree
            .form__form-field.form__form-field--checkbox(class=(isModal ? 'form__form-field--modal' : null))
              input.visually-hidden(
                type="checkbox"
                id=`subscribe-${idNumber}`
                name="subscribe"
              )
              label(for=`subscribe-${idNumber}`)=t.form.news
          button(class="button--accent button button--form" type="submit" onclick=`emailSendOffer('${lang}')`)
            span= t.button.request
          .thankyou_message(style='display:none')
            h2
              em Thanks
              |  for contacting us! We will get back to you soon!