include ./button

mixin form-cta (idNumber,formId)
  .form.form--cta
    .form__wrapper
      form(action="#" method="POST" autocomplete="on" id!=formId class="form__content")
        h3.form__title=t.cta.form_title
        .form__row
          .form__input-text-wrap
            .form__field.form__field--lilac
              input(
                type="email"
                id=`email-${idNumber}`
                name="email"
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,}$"
                placeholder=t.form.email
                title="Email адрес должен быть типа: user@mail.com"
                required
              )
              label(for=`email-${idNumber}`)=t.form.email

          +button(t.button.subscribe, {styleType: 'accent', type: 'submit', additionalClassName: 'form__button button--form'})
