extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture
include ../mixins/form-cta

block variables
  -
    const title = "Dialog";
    const routeClass = "js-route-blog";
    const pageName = "blog";

block content
  +page-title(t.blog.title)
  div=isPost
  section.blog.blog--main.box
    .wrapper.wrapper--main
      ul.blog__list
        each post in posts
          li.blog__item
            a(href=`./${post.slug}.html`).blog__card
              .blog__img-box
                img(src=post.feature_image alt=post.custom_excerpt)
              .blog__text-box
                h3(class="blog__card-title")=post.title
                p(class="blog__text")=post.custom_excerpt
                //.blog__text-info
                  p=post.created_at.slice(0, 10)
                  //div
                    +svg('icon-watch', 17, 17)
                    span 1 !{t.blog.min}
      .wrap.wrap--c
        +button(t.button.view, {styleType: 'dark', type: 'button', additionalClassName: 'show-posts'})

  section.box.box--lilac
    .wrapper.wrapper--main
      .cta.cta--form.cta--lilac
        +form-cta(1,'cta-main')