extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture
include ../mixins/form-cta

block variables
  -
    const lang = "ru";
    const title = "Dialog";

block content
  -
    const posts = [
      {
        title: "Цифровая гигиена: как уберечь переписку в мессенджерах от кокурентов",
        text: "Сбербанк объявил о запуске корпоративного мессенджера «Сберчат», созданого на базе платформы dialog.",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "2-desktop",
        link: "/blog-page",
        isWIde: true
      },
      {
        title: "Корпоративный мессенджер — виды, возможности и сферы применения",
        text: "Ключевые особенности и проблемы применения массовых и коммерческих онлайн и оффлайн средств общения для внутренних коммуникаций",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "1-desktop",
        link: "/blog-page"
      },
      {
        title: "Корпоративный мессенджер для локальной сети",
        text: "Ключевые особенности и проблемы применения массовых и коммерческих онлайн и оффлайн средств общения",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "4-desktop",
        link: "/blog-page"
      },
      {
        title: "Чат-боты для бизнеса",
        text: "Как оптимизировать процессы и повысить продажи, используя чат-боты",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "3-desktop",
        link: "/blog-page"
      },
      {
        title: "Чат-боты для бизнеса",
        text: "Как оптимизировать процессы и повысить продажи, используя чат-боты",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "5-desktop",
        link: "/blog-page"
      },
      {
        title: "Корпоративный мессенджер — виды, возможности и сферы применения",
        text: "Ключевые особенности и проблемы применения массовых и коммерческих онлайн и оффлайн средств общения для внутренних коммуникаций",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "1-desktop",
        link: "/blog-page"
      },
      {
        title: "Корпоративный мессенджер для локальной сети",
        text: "Ключевые особенности и проблемы применения массовых и коммерческих онлайн и оффлайн средств общения",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "4-desktop",
        link: "/blog-page"
      },
      {
        title: "Чат-боты для бизнеса",
        text: "Как оптимизировать процессы и повысить продажи, используя чат-боты",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "3-desktop",
        link: "/blog-page"
      },
      {
        title: "Чат-боты для бизнеса",
        text: "Как оптимизировать процессы и повысить продажи, используя чат-боты",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "5-desktop",
        link: "/blog-page"
      },
      {
        title: "Цифровая гигиена: как уберечь переписку в мессенджерах от кокурентов",
        text: "Сбербанк объявил о запуске корпоративного мессенджера «Сберчат», созданого на базе платформы dialog.",
        date: "27 февраля, 2020",
        time: "1 мин",
        img: "6-desktop",
        link: "/blog-page"
      },
    ];

  +page-title('Блог Dialog')
  section.blog.blog--main.box
    .wrapper.wrapper--main
      ul.blog__list
        each post in posts
          li.blog__item(class=post.isWIde ? 'blog__item--wide' : null)
            a(href="/post.html").blog__card
              .blog__img-box
                +picture(`img/pages/blog/blog-${post.img}`, 'jpg', post.title, '100%')
              .blog__text-box
                h3(class="blog__card-title")=post.title
                p(class="blog__text")=post.text
                .blog__text-info
                  p=post.date
                  div
                    +svg('icon-watch', 17, 17)
                    span=post.time
      .wrap.wrap--c
        +button('Смотреть ещё', {styleType: 'dark', type: 'button'})

  section.box.box--purple
    .wrapper.wrapper--main
      .cta.cta--form
        +form-cta(1,'cta-main')