extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form
include ../mixins/download

block variables
  -
    const title = "Dialog";
    const routeClass = "js-route-download";
    const pageName = "download";


block content

  section.hero.hero--download.box--lilac
    +hero({
      id: "macos",
      title: "macOS",
      text: `${t.download.works} macOS 10.10 (Yosemite) ${t.download.more}`,
      link: "/",
      buttonText: t.download.d
    })
    +hero({
      id: "windows",
      title: "Windows",
      text: `${t.download.works} Windows 8 ${t.download.more}`,
      link: "/",
      buttonText: t.download.d
    })
    +hero({
      id: "linux",
      title: "Linux",
      text: `${t.download.works} Linux 4.6.x ${t.download.more}`,
      link: "/",
      buttonText: t.download.d
    })
    +hero({
      id: "ios",
      title: "iOS",
      text: `${t.download.works} iOS 8.1 ${t.download.more}`,
      link: "/",
      buttonText: `${t.download.dfrom} App Store`,
      icon: 'apple'
    })
    +hero({
      id: "android",
      title: "Android",
      text: `${t.download.works} iOS 8.1 ${t.download.more}`,
      link: "/",
      buttonText: `${t.download.dfrom} Google Play`,
      icon: 'google-play'
    })

  section.download
    .wrapper.wrapper--main
      .wrap.wrap--cards
        +col({
          id: 'windows',
          title: `${t.download.dfor} Windows`,
          iconName: 'windows',
          link: '/',
          select: ['.exe', '.msi'],
        })
        +col({
          id: 'macos',
          title: `${t.download.dfor} macOS`,
          iconName: 'macos',
          select: ['.deb', '.deb x86', '.rpm x86', '.rpm'],
          link: '/',
        })
        +col({
          id: 'linux',
          title: `${t.download.dfor} Linux`,
          iconName: 'linux',
          link: '/',
          select: ['.deb', '.deb x86', '.rpm x86', '.rpm'],
        })
        +col({
          id: 'ios',
          title: `${t.download.dfor} iOS`,
          iconName: 'ios',
          qrName: 'ios',
          link: '/',
        })
        +col({
          id: 'android',
          title: `${t.download.dfor} Android`,
          qrName: 'android',
          iconName: 'android',
          link: '/',
        })
        +col({
          id: 'web',
          title: t.download.web,
          iconName: 'chrome',
          link: '/',
          isNoInstruction: true,
          isButton: true
        })