extends ../global/layout
include ../mixins/download

block variables
  -
    const title = t.meta.download;
    const desc = t.meta.main_desc;
    const routeClass = "js-route-download";
    const pageName = "download";

block content

  section.hero.hero--main.hero--download.box--lilac
    +hero({
      id: "macos",
      title: "macOS",
      text: `${t.download.works} macOS 10.10 (Yosemite) ${t.download.more}`,
      file: "https://dialog-enterprise-x-desktop.s3.eu-west-2.amazonaws.com/dialog-ee-x-2.3.2.dmg",
      buttonText: t.download.d
    })
    +hero({
      id: "windows",
      title: "Windows",
      text: `${t.download.works} Windows 8 ${t.download.more}`,
      file: "https://dialog-enterprise-x-desktop.s3.eu-west-2.amazonaws.com/dialog-ee-x-setup-2.3.2.exe",
      buttonText: t.download.d
    })
    +hero({
      id: "linux",
      title: "Linux",
      text: `${t.download.works} Linux 4.6.x ${t.download.more}`,
      file: "https://dialog-enterprise-x-desktop.s3.eu-west-2.amazonaws.com/dialog_ee_x_2.3.2_amd64.deb",
      buttonText: t.download.d
    })
    +hero({
      id: "ios",
      title: "iOS",
      text: `${t.download.works} iOS 8.1 ${t.download.more}`,
      file: "https://apps.apple.com/ru/app/dialog-enterprise/id1475749650",
      buttonText: `${t.download.dfrom} App Store`,
      icon: 'apple'
    })
    +hero({
      id: "android",
      title: "Android",
      text: `${t.download.works} Android 8.1 ${t.download.more}`,
      file: "https://play.google.com/store/apps/details?id=im.dlg.dialogx",
      buttonText: `${t.download.dfrom} Google Play`,
      icon: 'google-play'
    })

  section.download
    .wrapper.wrapper--main
      .wrap.wrap--cards
        +col({
          id: 'windows',
          title: `${t.download.dfor} Windows`,
          iconName: 'windows',
          isNoInstruction: true,
          link: 'https://dialog-enterprise-x-desktop.s3.eu-west-2.amazonaws.com/dialog-ee-x-setup-2.3.2.exe',
          isButtonDownload: true,
        })
        +col({
          id: 'macos',
          title: `${t.download.dfor} macOS`,
          iconName: 'macos',
          isNoInstruction: true,
          link: 'https://dialog-enterprise-x-desktop.s3.eu-west-2.amazonaws.com/dialog-ee-x-2.3.2.dmg',
          isButtonDownload: true
        })
        +col({
          id: 'linux',
          title: `${t.download.dfor} Linux`,
          iconName: 'linux',
          isNoInstruction: true,
          select: ['Linux 64', 'Linux 32'],
        })
        +col({
          id: 'ios',
          title: `${t.download.dfor} iOS`,
          iconName: 'ios',
          qrName: 'ios',
          link: 'https://apps.apple.com/ru/app/dialog-enterprise/id1475749650',
          isNoInstruction: true,
        })
        +col({
          id: 'android',
          title: `${t.download.dfor} Android`,
          qrName: 'android',
          iconName: 'android',
          isNoInstruction: true,
        })
        +col({
          id: 'web',
          title: t.download.web,
          iconName: 'chrome',
          isNoInstruction: true,
          isButtonOpen: true
        })