extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form

block variables
  -
    const title = t.meta.int_title;
    const desc = t.meta.main_desc;
    const routeClass = "js-route-main";
    const pageName = "integrations";

block content
  section.hero.hero--main.hero--integrations.hero--square-both
    .hero__wrapper
      .hero__left
        h1.hero__title=t.integrations.title
      .hero__right
        .hero__img
          +picture(
            '/img/pages/integrations/hero',
            'png',
            t.alt.pm,
            682
          )

  section.integrations
    .wrapper.wrapper--main
      h2=t.integrations.cards_title_1
      .wrap.wrap--cards

        .col
          .card.card--outline
            .wrap.wrap--c.wrap--up
              +svg('icon-api-dialog', 70, 70)
            .wrap.wrap--c.wrap--dc.wrap--mid
              h4=t.integrations.card_title_1
              p=t.integrations.card_text_1
            .wrap.wrap--bot.wrap--sb.wrap--w
              a.link.link--accent(href="https://dialogs.github.io/api-schema/" target="_blank")=t.integrations.card_link_1

        .col
          .card.card--outline
            .wrap.wrap--c.wrap--up
              +svg('icon-sdk', 70, 70)
            .wrap.wrap--c.wrap--dc.wrap--mid
              h4=t.integrations.card_title_2
              p=t.integrations.card_text_2
            .wrap.wrap--bot.wrap--sb.wrap--w.wrap--ac
              a.link.link--accent(href="https://dialogs.github.io/bots-docs/#/" target="_blank")=t.integrations.card_link_doc
              .wrap.wrap--ac
                a.link.link--accent(href="https://github.com/dialogs/python-bot-sdk" target="_blank") Python
                span &nbsp;|&nbsp;
                a.link.link--accent(href="https://github.com/dialogs/java-bot-sdk" target="_blank") Java
                span &nbsp;|&nbsp;
                a.link.link--accent(href="https://github.com/dialogs/js-bot-sdk" target="_blank") Javascript

        .col
          .card.card--outline
            .wrap.wrap--c.wrap--up
              +svg('icon-graphql', 70, 70)
            .wrap.wrap--c.wrap--dc.wrap--mid
              h4=t.integrations.card_title_3
              p=t.integrations.card_text_3
    .box--pattern

  section.integrations
    .wrapper.wrapper--main
      h3=t.integrations.cards_title_2
      .wrap.wrap--cards
        .col
          .card.card--outline
            .wrap.wrap--c.wrap--up
              +svg('icon-zapier', 70, 70)
            .wrap.wrap--c.wrap--dc.wrap--mid
              h4=t.integrations.card_title_4
              p=t.integrations.card_text_4
            .wrap.wrap--bot.wrap--sb.wrap--w
              a.link.link--accent(href="https://zapier.com/app/editor/61180830/nodes/61180830/app" target="_blank")=t.integrations.card_link_set
        .col
          .card.card--outline
            .wrap.wrap--c.wrap--up
              +svg('icon-webhooks', 70, 70)
            .wrap.wrap--c.wrap--dc.wrap--mid
              h4=t.integrations.card_title_5
              p=t.integrations.card_text_5
    .box--pattern

  section.cta.cta--purple.box--purple
    .wrapper.wrapper--main
      .wrap.wrap--c
        h2.cta__title.cta__title--sm=t.cta.connect_title
      .wrap.wrap--c
        +button(
          t.button.contact,
          {
            type: 'button',
            styleType: 'light',
            isLink: false,
            additionalClassName: 'button--md js-open-modal-hero'
          })