extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture

block variables
  -
    const title = "Dialog";
    const routeClass = "js-route-main";
    const pageName = "legal";

block content
  -
  +page-title('Правовая информация')
  .information-content
    .information-content__wrapper
      .information-content__content
        h2 Политика конфиденциальности
        p Настоящая политика конфиденциальности разработана на&nbsp;принципах краткости и&nbsp;понятности.
        p Наша компания намерена соответствовать самым высоким требованиям в&nbsp;области безопасности и&nbsp;обработки персональных данных пользователей. Dialog использует различные меры безопасности и&nbsp;предосторожности, которые защищают персональные данные пользователя, в&nbsp;случае их&nbsp;предоставления Dialog.
        p Обработка персональных данных пользователя осуществляется в&nbsp;соответствии с&nbsp;действующим законодательством Российской Федерации только для целей использования нашего программного обеспечения. Данные пользователя могут быть использованы для улучшения клиентского сервиса, а&nbsp;также&nbsp;&mdash; для улучшения производительности приложения. Ваш адрес электронной почты используется для получения информации от&nbsp;Dialog: на&nbsp;него вы&nbsp;можете получать важные уведомления от&nbsp;нас, а&nbsp;мы&nbsp;обязуемся отвечать на&nbsp;ваши запросы о&nbsp;нашем продукте.
        p При использовании нашего программного обеспечения&nbsp;и (или) регистрации пользователя, Dialog может быть доступна информация о&nbsp;Вашем имени, номере мобильного телефона, адресе электронной почты, IP-адресе (персональные данные). Обращаем Ваше внимание, что Все вышеуказанные персональные данные указываются пользователем самостоятельно.
        p При регистрации пользователя, последний соглашается на&nbsp;сбор, обработку, хранение и&nbsp;использование Dialog вышеуказанных персональных данных в&nbsp;соответствии с&nbsp;Федеральным законом Российской Федерации &#8470;&nbsp;152-ФЗ от&nbsp;27.07.2006&nbsp;г. &laquo;О&nbsp;персональных данных&raquo;.
        p При регистрации Пользователь выражает свое согласие на&nbsp;передачу вышеуказанных персональных данных третьим лицам для целей оказания услуг пользователю Dialog&nbsp;и (или) третьими лицами. При этом передача данных должна осуществляться с&nbsp;использованием средств автоматизации, обеспечивающих необходимую защиту прав пользователя.
        p Dialog обязан предоставлять персональные данные пользователя третьим лицам в&nbsp;случаях прямо предусмотренных российским законодательством, например, на&nbsp;основании судебного решения.
        p В&nbsp;случае, если по&nbsp;каким-либо причинам Dialog станет известно о&nbsp;несанкционированном разглашении персональных данных пользователя, которые были получены Dialog, Dialog обязуется в&nbsp;кратчайшие сроки уведомить об&nbsp;этом пользователя. Данное уведомление направляется на&nbsp;электронную почту или мобильный телефон пользователя.
        h2 Мы&nbsp;используем cookie
        p Файлы cookie&nbsp;&mdash; это файлы, которые описывают ваши предпочтения приложению. Это небольшой фрагмент данных, созданный и&nbsp;размещенный на&nbsp;веб-сайте. Он&nbsp;хранится на&nbsp;компьютере пользователя и&nbsp;используется веб-браузером, если пользователь разрешает это.
        p Cookie содержат информацию о&nbsp;взаимодействии и&nbsp;трафике пользователя в&nbsp;приложении. Мы&nbsp;используем эти данные для повышения удобства использования приложения. Мы&nbsp;также можем делиться некоторой частью этих данных со&nbsp;сторонними сервисами, которые помогают нам лучше понять потребности наших пользователей. Эти службы не&nbsp;могут использовать ваши cookie каким-либо другим способом, кроме как для оказания содействия dialog в&nbsp;развитии бизнеса.
        p Мы&nbsp;не&nbsp;продаем информацию и&nbsp;не&nbsp;обмениваемся информацией, которая может быть использована для идентификации наших пользователей. Но&nbsp;мы&nbsp;делимся некоторыми личными данными с&nbsp;нашими доверенными сторонними сервис-провайдерами, которые обязаны хранить эту информацию в&nbsp;тайне и&nbsp;использовать её&nbsp;только для поддержки нашего бизнеса. Мы&nbsp;также можем раскрывать личную информацию нашего пользователя, когда это требуется для соблюдения законов РФ. Мы&nbsp;также можем поделиться этими данными в&nbsp;случаях, когда человек нарушает чьи-то права, угрожает имуществу или безопасности человека. Однако другая информация, которую мы&nbsp;собираем и&nbsp;которая не&nbsp;может быть использована для идентификации нашего клиента, может быть передана третьим лицам в&nbsp;целях использования в&nbsp;маркетинге, рекламе или других целях.
        p При регистрации пользователей дает свое согласие на&nbsp;использование Dialog файлов cookie в&nbsp;вышеуказанных целях.
        h2 Дополнительные права пользователя
        p Пользователю предоставляется право:
        ul
          li запросить удаление или исправление персональных данных;
          li получить доступ к&nbsp;данным о&nbsp;пользователе, имеющимся у&nbsp;Dialog;
          li запросить информацию о&nbsp;передаче своих данных третьим лицам;
          li отозвать сове согласие на&nbsp;обработку персональных данных&nbsp;и (или) на&nbsp;использование файлов cookie.
        p Права, предоставленные пользователю, реализуются путем направления сканированного документа, содержащего вышеуказанное право пользователя и&nbsp;его подпись. Данный документ должен быть направлен Dialog через данное программное обеспечение. Dialog обязуется способствовать реализации прав пользователя в&nbsp;течение 10&nbsp;рабочих дней с&nbsp;момента поступления надлежаще оформленного и&nbsp;направленного документа от&nbsp;пользователя.
        p Программное обеспечение Dialog не&nbsp;предназначено для использования людьми моложе 13&nbsp;лет. Если вам не&nbsp;исполнилось 13&nbsp;лет, и&nbsp;этот сервер находится в&nbsp;США, то&nbsp;не&nbsp;используйте данное программное обеспечение. (Согласно требованиям COPPA&nbsp;&mdash; Закон о&nbsp;защите конфиденциальности детей в&nbsp;Интернете).
        p Если Вы&nbsp;являетесь резидентом&nbsp;ЕС моложе 16&nbsp;лет, то&nbsp;Вам не&nbsp;предоставляется право использования программного обеспечения Dialog. В&nbsp;отдельных случаях законный представителя (опекун) несовершеннолетнего вправе обратиться в&nbsp;Dialog с&nbsp;согласием (одобрением) об&nbsp;обработке персональных данных несовершеннолетнего по&nbsp;форме, предусмотренной для реализации прав предоставленных пользователю, на&nbsp;основании данного обращения у&nbsp;несовершеннолетнего может возникнуть право использования программного обеспечения Dialog.
      .information-content__sidebar
        h2=t.nav.library
        ul
          li
            a(
              class="information-content__link"
              href=`/${lang === "ru" ? "ru" : "en"}/public`
            )
              span=t.nav.social
          li
            a(
              class="information-content__link information-content__link--active"
              href=`/${lang === "ru" ? "ru" : "en"}/legal`
            )
              span=t.nav.legal
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/${lang === "ru" ? "ru" : "en"}/data`
            )
              span=t.nav.data
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/${lang === "ru" ? "ru" : "en"}/corruption`
            )
              span=t.nav.corruption
