extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture

block variables
  -
    const title = t.meta.legal_title;
    const desc = t.meta.main_desc;
    const routeClass = "js-route-main";
    const pageName = "legal";

block content
  -
  +page-title(t.legal.title)
  .information-content
    .information-content__wrapper
      .information-content__content
        | !{t.legal.text}
      .information-content__sidebar
        h2=t.nav.library
        ul
          if (lang === "ru")
            li
              a(class="information-content__link" href=`/ru/public`)
                span=t.nav.social
          li
            a(
              class="information-content__link information-content__link--active"
              href=`/${lang === "ru" ? "ru" : "en"}/legal`
            )
              span=t.nav.legal
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/docs/privacy_policy.pdf`
              download="privacy policy"
            )
              span=t.nav.data
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/docs/anti_corruption_policy.pdf`
              download="anti corruption policy"
            )
              span=t.nav.corruption
