extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form-offer
include ../mixins/blog
include ../mixins/video

block variables
  -
    const title = t.meta.main_title;
    const description = t.meta.main_desc;
    const routeClass = "js-route-main";
    const pageName = "main";

block content
  -
    const advantages = [
    {
    iconPath: "icon-hands",
    iconWidth: 35,
    iconHeight: 31,
    title: t.main.adv_title_1,
    text: t.main.adv_sub_1
    },
    {
    iconPath: "icon-purse",
    iconWidth: 28,
    iconHeight: 26,
    title: t.main.adv_title_2,
    text: t.main.adv_sub_2
    },
    {
    iconPath: "icon-lock",
    iconWidth: 30,
    iconHeight: 30,
    title: t.main.adv_title_3,
    text: t.main.adv_sub_3
    }
    ];
    const functions = [
    {
    index: "1",
    active: false,
    iconPath: "icon-chat",
    iconWidth: 27,
    iconHeight: 24,
    title: t.main.f_title_1,
    text: t.main.f_text_1,
    picWidth: "141",
    picPathMob: "/pages/download/hero-ios",
    picPathDesk: "function-desktop"
    },
    {
    index: "2",
    active: false,
    iconPath: "icon-logout",
    iconWidth: 22,
    iconHeight: 26,
    title: t.main.f_title_2,
    text: t.main.f_text_2,
    picWidth: "141",
    picPathMob: "/pages/download/hero-ios",
    picPathDesk: "function-desktop"
    },
    {
    index: "3",
    active: false,
    iconPath: "icon-phone",
    iconWidth: 25,
    iconHeight: 25,
    title: t.main.f_title_3,
    text: t.main.f_text_3,
    picWidth: "141",
    picPathMob: "/pages/download/hero-ios",
    picPathDesk: "function-desktop"
    },
    {
    index: "4",
    active: false,
    iconPath: "icon-search",
    iconWidth: 22,
    iconHeight: 22,
    title: t.main.f_title_4,
    text: t.main.f_text_4,
    picWidth: "141",
    picPathMob: "/pages/download/hero-ios",
    picPathDesk: "function-desktop"
    },
    {
    index: "5",
    active: false,
    iconPath: "icon-bot-dark",
    iconWidth: 28,
    iconHeight: 27,

    title: t.main.f_title_5,
    text: t.main.f_text_5,
    picWidth: "141",
    picPathMob: "/pages/download/hero-ios",
    picPathDesk: "function-desktop"
    }
    ];

  section.hero.hero--main.hero--reverse.hero--homepage
    .hero__wrapper
      .hero__left
        h1.hero__title Dialog
        p.hero__text=t.main.subtitle
        +button(
          t.button.leave,
          {
            type: 'button',
            isLink: false,
            additionalClassName: 'button--hero js-open-modal-hero',
            styleType: 'accent',
          })
          +svg('arrow-right', 16, 15)
      .hero__right
        .hero__img
          +picture(`/img/hero`, 'png', 'Фото ноутбука и мобильного телефона', 682)
  section.advantages.box.box--white
    .advantages__wrapper
      h2.visually-hidden Преимущества приложения Dialog
      ul.advantages__list
        each item in advantages
          li
            div.pseudo--1
            div.pseudo--2
            div.pseudo--3
            .advantages__icon
              +svg(item.iconPath, item.iconWidth, item.iconHeight)
            h2= item.title
            p= item.text
  section.functions.box
    .functions__wrapper
      h2.functions__title=t.main.f_title
      .functions__tabs.tabs
        .tabs__controls
          each item, index in functions
            button.tabs__control(
              class=(item.active ? "tabs__control--active" : null)
              type="button"
              data-tab-index=index
            )
              i.icon.icon--round.icon--outline.icon--md
                +svg(item.iconPath, item.iconWidth, item.iconHeight)
              b= item.title
        .tabs__controls--mobile
          each item, index in functions
            .tabs__wrapper(class=(item.active ? "tabs__wrapper--active" : null))
              button.tabs__control.tabs__control--mobile.js-accordion-trigger(class=(item.active ? "tabs__control--active" : null) type="button" data-tab-index=item.index)
                i.icon.icon--round.icon--outline.icon--sm
                  +svg(item.iconPath, item.iconWidth, item.iconHeight)
                b= item.title
              .tabs__content.js-accordion-details(data-tab-index=item.index class=(item.active ? "tabs__content--active" : null))
                .tabs__left
                  h3= item.title
                  p= item.text
                .tabs__right
                  .wrap
                    //+button-play('button-play--tabs')
                    +video(index+1)
                    //-picture
                      source(
                        type="image/webp"
                        media="(min-width: 768px)"

                        srcset=`/img/${item.picPathDesk}@1x.webp 1x, /img/${item.picPathDesk}@2x.webp 2x`
                      )
                      source(
                        type="image/webp"
                        srcset=`/img/${item.picPathMob}@1x.webp 1x, /img/${item.picPathMob}@2x.webp 2x`
                      )
                      source(
                        media="(min-width: 768px)"
                        srcset=`/img/${item.picPathDesk}@1x.png 1x, /img/${item.picPathDesk}@2x.png 2x`
                      )
                      img(
                        src=`/img/${item.picPathMob}@1x.png`,
                        srcset=`/img/${item.picPathMob}@2x.png 2x`,
                        width=item.picWidth,
                        alt="Фото приложения Dialog")
  section.safety.box.box--white
    .safety__wrapper
      h2.safety__title=t.main.sec_title
      ul.safety__list
        li.safety__item.safety__item--safe
          .wrap.wrap--ac.wrap--icon
            .safety__icon
              +svg('icon-safe', 50, 50)
            h3=t.main.sec_title_1
          p=t.main.sec_sub_1
          ul.safety__listbox
            li
              p=t.main.sec_li_1_1
            li
              p=t.main.sec_li_1_2
            li
              p=t.main.sec_li_1_3
            li
              p=t.main.sec_li_1_4
            li
              p=t.main.sec_li_1_5
            li
              p=t.main.sec_li_1_6
        li.safety__item.safety__item--cloud
          .wrap.wrap--ac.wrap--icon
            .safety__icon
              +svg('icon-cloud', 50, 50)
            h3=t.main.sec_title_2
          p=t.main.sec_sub_2
          ul.safety__listbox
            li
              p
                b On-premise&nbsp;
                | !{t.main.sec_li_2_1}

            li
              p
                b Private cloud&nbsp;
                | !{t.main.sec_li_2_2}
                img(src=`/img/sber-cloud.svg`, width="108" height="22" alt="Логотип SberCloud")


      a(class="link link--with-icon link--safety link--icon-accent" href=`${lang === "ru" ? '/ru/security' : '/en/security'}`)=t.link.learn
        +svg('arrow-right', 16, 15)
  section.solutions.box.box--sand
    .solutions__wrapper
      h2.solutions__title=t.main.sol_title
      ul.solutions__list
        li.solutions__item
          .solutions__img.solutions__img--1.solutions__cell-1
            +picture(`/img/solution-1`, 'jpg', 'Изображение с сотрудником компании', 630)
          .solutions__content.solutions__content--1.solutions__cell-2
            .solutions__content-wrap
              h3=t.main.sol_title_1
              p=t.main.sol_sub_1
              //a(class="link link--with-icon link--icon-accent" href="#!")=t.link.learn
              //  +svg('arrow-right', 16, 15)
        li.solutions__item
          .solutions__img.solutions__img--2.solutions__cell-2
            +picture(`/img/solution-2`, 'jpg', 'Изображение с сотрудником компании', 630)
          .solutions__content.solutions__content--2.solutions__cell-1
            .solutions__content-wrap
              h3=t.main.sol_title_2
              p=t.main.sol_sub_2
              //a(class="link link--with-icon link--icon-accent" href="#!")=t.link.learn
              //  +svg('arrow-right', 16, 15)
  section.features.box.box--white
    .features__wrapper
      .features__header
        h2=t.main.feat_title
        p=t.main.feat_sub
      .features__item.features__item--direct
        .features__img-box.features__img-box--direct
          //+button-play('button-play--features')
          .features__img.features__img--direct
            +video(6)
            //+picture(`/img/features-1-desktop`, 'png', 'Изображение приложения Dialog', 630)
        .features__desc.features__desc--direct
          span
            +svg('icon-bot-light', 33, 33)
          h3=t.main.feat_title_1_block_1
          p=t.main.feat_sub_1_block_1
        .features__example.features__example--direct
          span=t.main.feat_purple_block_1
          h3=t.main.feat_title_2_block_1
          p=t.main.feat_sub_2_block_1
      .features__item.features__item--reverse
        .features__img-box.features__img-box--reverse
          //+button-play('button-play--features')
          .features__img.features__img--reverse
            +video(7)
            //+picture(`/img/features-2-desktop`, 'png', 'Изображение приложения Dialog', 630)
        .features__desc.features__desc--reverse
          span
            +svg('icon-api', 22, 22)
          h3=t.main.feat_title_1_block_2
          p=t.main.feat_sub_1_block_2
        .features__example.features__example--reverse
          span=t.main.feat_purple_block_2
          h3=t.main.feat_title_2_block_2
          p=t.main.feat_sub_2_block_2
      .features__footer
        h3=t.main.feat_title_enlarge
        p=t.main.feat_sub_enlarge
        .features__button-box
          +button(t.button.dev, {
            styleType: 'dark',
            isLink: true,
            href: `${lang === "ru" ? '/ru/integrations' : '/en/integrations'}`,
            additionalClassName: 'button--features-2'
          })
            +svg('arrow-right', 16, 15)
  section.install.box.box--lilac
    .install__wrapper
      h2.install__title=t.main.inst_title
      ul.install__icon-list
        li
          +svg('icon-chrome', 60, 60)
          span Web
        li
          +svg('icon-ios', 60, 60)
          span iOS
        li
          +svg('icon-android', 60, 60)
          span Android
        li
          +svg('icon-windows', 60, 60)
          span Windows
        li
          +svg('icon-macos', 60, 60)
          span macOS
        li
          +svg('icon-linux', 60, 60)
          span Linux
        li
          +svg('icon-sailfish', 60, 60)
          span Sailfish OS
      .install__content
        .install__col.install__col--list
          h3=t.main.inst_title_1
          ul
            li
              p
                b On-premise
                |  !{t.main.inst_li_1_1}
            li
              p
                b Private cloud
                |  !{t.main.inst_li_2_1}
        .install__col.install__col--text
          h3=t.main.inst_title_2
          p=t.main.inst_li_1_2
        .install__col.install__col--text
          h3 Интеграция с&nbsp;Active Directory
          p=t.main.inst_li_1_3
      +button(t.button.license, {
        styleType: 'accent',
        isLink: false,
        additionalClassName: 'button--install js-open-modal-install'
      })

        +svg('arrow-right', 16, 15)
  section.quote.box.box--white
    .quote__wrapper
      h2=t.main.quote_title
      .quote__desc
        .quote__desc-icon
          +svg('icon-chat-sber', 56, 56)
        p=t.main.quote_sub
      .quote__content
        .quote__content-text
          p=t.main.quote_text
        .quote__content-avatar
          .quote__avatar-wrapper
            .quote__avatar-name
              p=t.main.quote_name
            .quote__avatar-post
              p=t.main.quote_desc
          .quote__avatar-img
            +svg('sber-logo-big', 189, 50)

  section.box.box--gray
    +blog(t.blog.cards)
  +form-offer(false, 1, 'form-offer')