extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture

block variables
  -
    const title = t.meta.patents_title;
    const desc = t.meta.main_desc;
    const pageName = "patents";

block content
  -
    const patentImages = {
      title: 'Патенты',
      images: [
        {
          imgPath: `/img/patents/patent-dialog-server`,
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 380,
          linkName: 'Dialog Server'
        },
        {
          imgPath: `/img/patents/patent-dialog-core`,
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 380,
          linkName: 'Dialog Core'
        },
        {
          imgPath: `/img/patents/patent-dialog-android-sdk`,
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 380,
          linkName: 'Dialog Android SDK'
        },
        {
          imgPath: `/img/patents/patent-dialog-ios-sdk`,
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 380,
          linkName: 'Dialog iOS SDK'
        },
        {
          imgPath: `/img/patents/patent-dialog-web-sdk`,
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 380,
          linkName: 'Dialog Web SDK'
        }
      ]
    };
    const licenseImages = {
      title: 'Лицензии',
      images: [
        {
          imgPath: `/img/patents/license-fsb`,
          imgType: 'jpg',
          imgAlt: t.alt.license,
          imgWidth: 380,
          linkName: t.abb.doc_1
        },
        {
          imgPath: `/img/patents/fstek-1`,
          imgType: 'jpg',
          imgAlt: t.alt.license,
          imgWidth: 380,
          linkName: t.abb.doc_2
        },
        {
          imgPath: `/img/patents/fstek-2`,
          imgType: 'jpg',
          imgAlt: t.alt.license,
          imgWidth: 380,
          linkName: t.abb.doc_3
        }
      ]
    };

  +page-title(t.patent.title_1)
  .patents-text.box.box--white
    .patents-text__wrapper
      p=t.patent.sub_1
  section.patents-img.box.box--white
    .patents-img__wrapper
      h2.visually-hidden=patentImages.title
      ul.patents-img__list
        each it in patentImages.images
          li.patents-img__item
            .patents-img__box
              picture
                source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt width=it.imgWidth loading="lazy")
            a(class="link link--with-icon link--icon-accent link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
              +svg('arrow-bottom', 16, 17)
  .patents-text.patents-text--second.box.box--white
    .patents-text__wrapper
      p=t.patent.sub_2
  section.patents-img.box.box--white
    .patents-img__wrapper
      h2.visually-hidden=licenseImages.title
      ul.patents-img__list.patents-img__list--end
        each it in licenseImages.images
          li.patents-img__item
            .patents-img__box
              picture
                source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt width=it.imgWidth loading="lazy")
            a(class="link link--with-icon link--icon-accent link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
              +svg('arrow-bottom', 16, 17)
  section.association.box.box--gray
    .association__wrapper
      h2.association__title=t.patent.title_2
      ul.association__list
        li=t.patent.li_1
        li=t.patent.li_2
        li=t.patent.li_3
          |&nbsp;
          a(class="link link--accent link--simple" href="#!")=t.patent.link