extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture

block variables
  -
    const title = "Dialog";
    const pageName = "patents";

block content
  -
    const patentImages = {
      title: 'Патенты',
      images: [
        {
          imgPath: `/img/patents/patent-dialog-server`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'Dialog Server'
        },
        {
          imgPath: `/img/patents/patent-dialog-core`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'Dialog Core'
        },
        {
          imgPath: `/img/patents/patent-dialog-android-sdk`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'Dialog Android SDK'
        },
        {
          imgPath: `/img/patents/patent-dialog-ios-sdk`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'Dialog iOS SDK'
        },
        {
          imgPath: `/img/patents/patent-dialog-web-sdk`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'Dialog Web SDK'
        }
      ]
    };
    const licenseImages = {
      title: 'Лицензии',
      images: [
        {
          imgPath: `/img/patents/license-fsb`,
          imgType: 'jpg',
          imgAlt: 'Фотография лицензии',
          imgWidth: 380,
          linkName: 'ФСБ'
        },
        {
          imgPath: `/img/patents/fstek-1`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'ФСТЭК'
        },
        {
          imgPath: `/img/patents/fstek-2`,
          imgType: 'jpg',
          imgAlt: 'Фотография сертификата',
          imgWidth: 380,
          linkName: 'ФСТЭК'
        }
      ]
    };

  +page-title('Лицензии и сертификаты')
  .patents-text.box.box--white
    .patents-text__wrapper
      p Компания является правообладателем 5&nbsp;программных продуктов, которые зарегистрированы в&nbsp;Роспатенте
  section.patents-img.box.box--white
    .patents-img__wrapper
      h2.visually-hidden=patentImages.title
      ul.patents-img__list
        each it in patentImages.images
          li.patents-img__item
            .patents-img__box
              picture
                source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt width=it.imgWidth loading="lazy")
            a(class="link link--with-icon link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
              +svg('arrow-bottom', 16, 17)
  .patents-text.patents-text--second.box.box--white
    .patents-text__wrapper
      p Компания имеет необходимую квалификацию и&nbsp;лицензии ФСТЭК России и&nbsp;ФСБ России
  section.patents-img.box.box--white
    .patents-img__wrapper
      h2.visually-hidden=licenseImages.title
      ul.patents-img__list.patents-img__list--end
        each it in licenseImages.images
          li.patents-img__item
            .patents-img__box
              picture
                source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt width=it.imgWidth loading="lazy")
            a(class="link link--with-icon link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
              +svg('arrow-bottom', 16, 17)
  section.association.box.box--gray
    .association__wrapper
      h2.association__title Реестры и&nbsp;Ассоциации
      ul.association__list
        li Мессенджер dialog соответствует требованиям Единого реестра российских программ для электронных вычислительных машин и&nbsp;баз данных и&nbsp;состоит в&nbsp;реестре отечественного&nbsp;ПО.
        li Компания является членом Ассоциации документальной электросвязи (АДЭ)
        li ООО &laquo;Диалог&raquo; входит в&nbsp;реестр Организаторов Распространения Информации (ОРИ) Роскомнадзор.
        li ООО &laquo;Диалог&raquo; является участником&ensp;
          a(class="link link--simple" href="#!") инновационного центра &laquo;Сколково&raquo;
