extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture
include ../mixins/form-cta
include ../mixins/blog

block variables
  -
    const title = "Dialog";
    const pageName = "post";

block content
  section.post
    .post__wrapper
      .post__nav
        .wrap.wrap--sb.wrap--ac
          a(class="link link--with-icon-reverse link--accent link--icon-accent" href=`${lang === "ru" ? '/ru/blog' : '/en/blog'}`)
            +svg('arrow-left', 16, 15)
            span=t.blog.back
          .wrap.post__time
            p=post.updated_at.slice(0, 10)
      .post__header
        h1.post__title.post__title--h1=post.title
        h6.post__title.post__title--sub=post.custom_excerpt
        .post__image.post__image--header
          img(src=post.feature_image alt=post.custom_excerpt)
        .box--pattern
      .post__content
        | !{post.html}

  section.blog.box.box--gray
    +blog(t.blog.recommended)

  section.box
    .wrapper.wrapper--main
      .cta.cta--form
        +form-cta(1,'cta-main')