extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture
include ../mixins/form-cta

block variables
  -
    const title = "Dialog";
    const pageName = "post";

block content
  section.post
    .post__wrapper
      .post__nav
        .wrap.wrap--sb.wrap--ac
          a(class="link link--with-icon-reverse link--accent link--icon-accent" href="../../ru/blog")
            +svg('arrow-left', 16, 15)
            span Назад
          .wrap.post__time
            p=post.updated_at.slice(0, 10)
            .wrap.wrap--ac
              +svg('icon-watch', 17, 17)
              span 1 мин
      .post__header
        h1.post__title.post__title--h1=post.title
        h6.post__title.post__title--sub=post.custom_excerpt
        .post__image.post__image--header
          img(src=post.feature_image alt=post.custom_excerpt)
        .box--pattern
      .post__content
        | !{post.html}

  section.blog.box.box--gray
    .blog__wrapper
      h2.blog__title Блог компании
      ul.blog__list
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('/img/pages/blog/blog-1-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Корпоративный мессенджер для локальной сети
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('/img/pages/blog/blog-2-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Корпоративный мессенджер&nbsp;&mdash; виды, возможности и&nbsp;сферы применения
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
        li.blog__item
          a(href="/blog.html").blog__card
            .blog__img-box
              +picture('/img/pages/blog/blog-3-desktop', 'jpg', 'Изображение приложения', 380)
            .blog__text-box
              h3.blog__card-title Цифровая гигиена: как уберечь переписку в&nbsp;мессенджерах от&nbsp;конкурентов
              .blog__text-info
                p 27 февраля, 2020
                div
                  +svg('icon-watch', 17, 17)
                  span 1 мин
      a(class="link link--with-icon link--icon-accent" href="/blog.html") Смотреть все
        +svg('arrow-right', 16, 15)

  section.box
    .wrapper.wrapper--main
      .cta.cta--form
        +form-cta(1,'cta-main')