extends ../global/layout
include ../mixins/page-title
include ../mixins/svg
include ../mixins/button
include ../mixins/picture

block variables
  -
    const title = "Dialog";
    const pageName = "public";

block content
  +page-title(t.resp.title)
  .information-content
    .information-content__wrapper
      .information-content__content
        h2=t.resp.sub
        p=t.resp.text
        .information-content__link-box
          a(href="img/patents/register.pdf" target="_blank")
            +svg('icon-pdf',23, 28)
            | !{t.resp.file_1}
          a(href="img/patents/list.pdf" target="_blank")
            +svg('icon-pdf',23, 28)
            | !{t.resp.file_2}
      .information-content__sidebar
        h2=t.nav.library
        ul
          li
            a(
              class="information-content__link information-content__link--active"
              href=`/${lang === "ru" ? "ru" : "en"}/security`
            )
              span=t.nav.social
          li
            a(
              class="information-content__link"
              href=`/${lang === "ru" ? "ru" : "en"}/legal`
            )
              span=t.nav.legal
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/${lang === "ru" ? "ru" : "en"}/data`
              target="_blank"
            )
              span=t.nav.data
          li
            a(
              class="information-content__link information-content__link--doc"
              href=`/${lang === "ru" ? "ru" : "en"}/corruption`
              target="_blank"
            )
              span=t.nav.corruption