extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form-offer

block variables
  -
    const title = t.meta.security_title;
    const desc = t.meta.main_desc;
    const routeClass = "js-route-main";
    const pageName = "security";

    const licenseImages = {
      title: 'Лицензии',
      images: [
        {
          imgPath: '/img/patents/license-fsb',
          imgType: 'jpg',
          imgAlt: t.alt.license,
          imgWidth: 80,
          linkName: t.abb.doc_1
        },
        {
          imgPath: '/img/patents/fstek-1',
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 80,
          linkName: t.abb.doc_2
        },
        {
          imgPath: '/img/patents/fstek-2',
          imgType: 'jpg',
          imgAlt: t.alt.cert,
          imgWidth: 80,
          linkName: t.abb.doc_3
        }
      ]
    };

block content
  section.hero.hero--main.hero--security
    .hero__wrapper
      .hero__left
        h1.hero__title=t.security.title
      .hero__right
        .hero__img
          +picture(
            '/img/pages/security/hero',
            'jpg',
            t.alt.people,
            682
          )
  section.protection.box.box--lilac
    .wrapper.wrapper--main
      .wrap.wrap--img
        .col.col--left
          .wrap.wrap--ac.wrap--icon
            .icon.icon--accent.icon--accent.icon--md.icon--round
              +svg('icon-security', 41, 38)
            h2=t.security.safe_title
          h3=t.security.safe_sub_1
          p=t.security.safe_text
        .col.col--right
          .protection__img
            +picture(
              '/img/pages/security/protection',
              'png',
              t.alt.pm,
              405
            )
      h3=t.security.cards_title
      .wrap.wrap--cards
        .col
          .card.card--security
            h4=t.security.card_title_1
            p=t.security.card_text_1
            br
            br
            h4=t.security.card_title_4
            p=t.security.card_text_4
        .col
          .card.card--security
            h4=t.security.card_title_2
            p=t.security.card_text_2
            br
            br
            h4=t.security.card_title_5
            p=t.security.card_text_5
        .col
          .card.card--security
            h4=t.security.card_title_3
            p=t.security.card_text_3
            +picture(
              '/img/pages/security/logo-audit',
              'png',
              t.alt.pm,
              456
            )
  section.compliance.box.box--lilac
    .wrapper.wrapper--main
      .wrap.wrap--icon.wrap--ac
        .icon.icon--md.icon--round.icon--accent
          +svg('icon-compliance', 39, 38)
        .wrap.wrap--txt.wrap--w.wrap--ac
          h2.compliance__title=t.security.norms_title
      h3.compliance__sub=t.security.norms_sub
      ul.compliance__list
        li.compliance__list-item.compliance__item--safe
          ul.compliance__listbox
            li
              p=t.security.norms_li_1
              p=t.security.norms_li_2
              .wrap.wrap--img
                each it in licenseImages.images
                  .col
                    .wrap.wrap--preview
                      picture
                        source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                        img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt loading="lazy")
                    .wrap.wrap--link.wrap--ac
                      a(class="link link--icon-accent link--with-icon link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
                        +svg('arrow-bottom', 20, 16)
        li.compliance__list-item.compliance__list-item--cloud
          ul.compliance__listbox
            li
              p=t.security.norms_li_3
            li
              p=t.security.norms_li_4
      a(class="compliance__link--more link link--icon-accent link--with-icon link--icon-accent" href=`/${lang === "ru" ? "ru" : "en"}/patents`)=t.link.learn
        +svg('arrow-right', 16, 15)
  section
    +form-offer(false, 1, 'form-offer')