extends ../global/layout
include ../mixins/svg
include ../mixins/button
include ../mixins/button-play
include ../mixins/picture
include ../mixins/form

block variables
  -
    const lang = "ru";
    const title = "Dialog";
    const routeClass = "js-route-main";
    const licenseImages = {
    title: 'Лицензии',
    images: [
    {
    imgPath: 'img/patents/license-fsb',
    imgType: 'jpg',
    imgAlt: 'Фотография лицензии',
    imgWidth: 80,
    linkName: 'ФСБ'
    },
    {
    imgPath: 'img/patents/fstek-1',
    imgType: 'jpg',
    imgAlt: 'Фотография сертификата',
    imgWidth: 80,
    linkName: 'ФСТЭК'
    },
    {
    imgPath: 'img/patents/fstek-2',
    imgType: 'jpg',
    imgAlt: 'Фотография сертификата',
    imgWidth: 80,
    linkName: 'ФСТЭК'
    }
    ]
    };

block content
  section.hero.hero--main.hero--security
    .hero__wrapper
      .hero__left
        h1.hero__title Безопасность  и соответствие требованиям в Dialog
      .hero__right
        .hero__img
          +picture(
            'img/pages/security/hero',
            'jpg',
            'Фото ноутбука и мобильного телефона',
            682
          )
  section.protection.box.box--lilac
    .wrapper.wrapper--main
      .wrap.wrap--img
        .col.col--left
          .wrap.wrap--ac.wrap--icon
            .round-icon
              +svg('icon-security', 90, 45)
            h2 Защита информации
          h3 Архитектура
          p В отличие от облачных решений, Dialog не имеет ключей для расшифровки вашего общения и доступа к инфраструктуре.  Эта архитектура предлагает лучшую защиту от злоумышленника.
        .col.col--right
          .protection__img
            +picture(
              'img/pages/security/protection',
              'png',
              'Фото ноутбука и мобильного телефона',
              500
            )
      h3 Высокие стандарты безопасности
      .wrap.wrap--cards
        .col
          .card.card--white
            h4 Шифрование передачи данных
            p Защита соединений «клиент-сервер» по протоколам TLS и DTLS.
        .col
          .card.card--white
            h4 Интеграция с антивирусным ПО
            p Поддержка интеграций с антивирусами по протоколу ICAP. Мессенджер блокирует вредоносные файлы при отправке.
        .col
          .card.card--white
            h4 Аудит безопасности
            p Сотрудничество с ведущими экспертами  по безопасности для проведения регулярных аудитов своих продуктов.
            +picture(
              'img/pages/security/logo-audit',
              'png',
              'Фото ноутбука и мобильного телефона',
              456
            )
        .col
          .card.card--white
            h4 DLP
            p Интегрируется с системами предотвращения утечки данных по протоколу ICAP. Минимизирован риск умышленной или случайной утечки информации.
        .col
          .card.card--white
            h4 SIEM
            p Dialog интегрируется с SIEM-системами и позволяет реагировать на события безопасности до наступления ущерба.
  section.compliance.box.box--lilac
    .wrapper.wrapper--main
      .wrap.wrap--icon.wrap--as
        .round-icon
          +svg('icon-compliance', 60, 45)
        .wrap.wrap--txt.wrap--w
          h2.compliance__title Соблюдение нормативных требований
          p.compliance__subtitle Компания имеет квалификацию, необходимую для соблюдения законодательных норм и стандартов
      ul.compliance__list
        li.compliance__list-item.compliance__item--safe
          ul.compliance__listbox
            li
              p
                b ООО «Диалог» имеет лицензии ФСТЭК на разработку и техническую защиту конфиденциальной информации, лицензию ФСБ России на разработку и распространение защищенных информационных систем.
              p В состав лицензируемого вида деятельности входят работы, предусмотренные пунктами 2, 3, 8, 9, 12, 13, 14, 15, 17, 18, 20, 21, 22, 23, 24, 25, 26 перечня выполняемых работ и оказываемых услуг в отношении шифровальных (криптографических) средств.
              .wrap.wrap--img
                each it in licenseImages.images
                  .col
                    .wrap.wrap--preview
                      picture
                        source(type="image/webp" srcset=`${it.imgPath}@2x.webp`)
                        img(src=`${it.imgPath}@2x.${it.imgType}` alt=it.imgAlt width=it.imgWidth loading="lazy")
                    .wrap.wrap--link.wrap--ac
                      a(class="link link--with-icon link--patents" href=`${it.imgPath}@2x.${it.imgType}` download)=it.linkName
                      +svg('arrow-bottom', 16, 12)
        li.compliance__list-item.compliance__list-item--cloud
          ul.compliance__listbox
            li
              p
                b Мессенджер Dialog соответствует требованиям Единого реестра российских программ для электронных вычислительных машин и баз данных, состоит в реестре отечественного ПО.
            li
              p
                b Компания-разработчик ООО «Диалог» состоит в реестре аккредитованных организаций, осуществляющих деятельность в области информационных технологий на территории РФ (No 436 от 07.09.2016).
      a(class="compliance__link--more link link--with-icon" href="#!") Узнать подробнее
        +svg('arrow-right', 16, 15)
  section.form.form--main
    +form(false, 1, 'offer-form')