include ../mixins/svg
include ../mixins/picture
mixin footer()
  -
    const navigation = [
      {
        title:'Dialog',
        items: [
            {text: t.nav.security, path: '/security'},
            {text: t.nav.integrations, path: '/integrations'},
            {text: t.nav.support, path: '/support'},
          ]
        },
      {
        title:`<span>${t.nav.company_full}</span><span>${t.nav.company_short}</span>`,
        items: [
          {text:t.nav.license, path: '/patents'},
          {text:t.nav.blog, path: '/blog'},
          {text:t.nav.career, path: '/career'},
        ],
      }
    ];
    const socials = [
      {
        label: t.nav.fb,
        iconPath: 'social-fb',
        iconWidth: 11,
        iconHeight: 23,
        link: 'https://www.facebook.com/startdialog',
      },
      {
        label: t.nav.vk,
        iconPath: 'social-vk',
        iconWidth: 23,
        iconHeight: 13,
        link: 'https://vk.com/dlgim',
      },
      {
        label: t.nav.gh,
        iconPath: 'social-gh',
        iconWidth: 19,
        iconHeight: 22,
        link: 'https://github.com/dialogs',
      }
    ];


  footer.footer
    .footer__wrapper
      .footer__logo
        a(href="/").footer__link
            img(src=`/img/library/logo-dialog-white.svg` alt="Логотип мессенджера Dialog" width="139")
      ul.footer__contacts
        li
          a(href="tel:+78007758202").footer__link +7 (800) 775-82-02
        li
          a(href="mailto:info@dlg.im").footer__link.footer__link--underline info@dlg.im
      .footer__navigation-box
        section.footer-nav
          h2.visually-hidden=t.hidden.nav
          .footer-nav__container
            each box in navigation
              .footer-nav__content-box
                h3 !{box.title}
                ul
                  each link in box.items
                    li
                      a(href!=`/${lang === "ru" ? "ru" : "en"}${link.path}`).link.link--invert=link.text
      .footer__social-box
        ul.social
          each social in socials
            li
              a(href!=social.link aria-label!=social.label target="_blank" rel="noopener noreferrer")
                +svg(social.iconPath, social.iconWidth, social.iconHeight, basedir)
      ul.footer__doc-links
        if(lang === "ru")
          li
            a(href=`/ru/public` target="_blank" rel="noopener noreferrer")=t.nav.social
        li
          a(href=`/${lang === "ru" ? "ru" : "en"}/legal` target="_blank" rel="noopener noreferrer")=t.nav.legal
        li
          a(href=`/docs/privacy_policy.pdf` download="privacy policy" target="_blank" rel="noopener noreferrer")=t.nav.data
        li
          a(href=`/docs/anti_corruption_policy.pdf` download="anti corruption policy" target="_blank" rel="noopener noreferrer")=t.nav.corruption

      .footer__copyright
        p © 2016—2020 ООО «Диалог»
        p ИНН: 7804568396
      .footer__promo-link
        a(href="#!" target="_blank" rel="noopener noreferrer" aria-label="Сколково").footer__link
          img(src=`/img/footer/sk-logo.svg` alt="Надпись: участник Сколково" width="100")
