include ../mixins/button
include ../mixins/svg

mixin header(pageName, lang)
  -
    const navLinks = [
    {
    link: "security",
    name: t.nav.security,
    },
    {
    link: "integrations",
    name: t.nav.integrations,
    },
    {
    link: "career",
    name: t.nav.career,
    },
    {
    link: "blog",
    name: t.nav.blog,
    },
    {
    link: "support",
    name: t.nav.support,
    }
    ];

  header.header.js-header
    .header__wrapper
      a(href=`${lang === "ru" ? "/ru" : "/en"}`).header__logo
        img(src=`/img/library/logo-dialog.svg` alt="Логотип мессенджера Dialog")
      .header__content-box
        .header__top-panel
          a(href="/").header__nav-logo
            img(src=`/img/library/logo-dialog.svg` alt="Логотип мессенджера Dialog")
          button(aria-label='Закрыть меню' type="button").header__close-button
        nav.header__nav-container.main-nav
          ul.main-nav__top-links
            each topItem, index in navLinks
              if (topItem.link)
                li
                  a(
                    href!=`/${lang === "ru" ? "ru" : "en"}/${topItem.link}`).main-nav__link
                    | !{topItem.name}
              else
                li.main-nav__top-block
                  button(type="button").main-nav__button=topItem.text
                  +svg('tick', 8, 5)
                  .main-nav__dropdown
                    ul.main-nav__included-box
                      each middleItem in topItem.submenu
                        li.main-nav__included-item
                          if (middleItem.link)
                            a(href!=middleItem.link).main-nav__link.main-nav__link--included=middleItem.text
                          else
                            .main-nav__middle-block
                              button(type="button").main-nav__included-button
                                span=middleItem.text
                                +svg('tick-right', 7, 11)
                              ul.main-nav__middle-dropdown
                                each lowItem in middleItem.submenu
                                  li.main-nav__included-item
                                    a(href!=lowItem.link).main-nav__link.main-nav__link--included=lowItem.text
          .main-nav__user-actions
            +button(t.button.get,
              {
                styleType: 'accent',
                additionalClassName: 'button--small main-nav__action-btn js-open-modal'
              })
            a(href=`/${lang === "ru" ? "en" : "ru"}/${isPost ? "blog" : (isHome ? '' : pageName !== "public" ? pageName : "")}
            `
            ).main-nav__link.main-nav__link--no-padding
              span.header__lang=`${lang === "ru" ? "en" : "ru"}`
              span=`${lang === "ru" ? "In English" : "На русском"}`
      button(aria-label='Открыть меню' type="button").header__burger-button
